/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.suckertreemenu ul {
  margin: 0;
  padding-left: 10%;
  list-style-type: none;
}

/*Top level list items*/
.suckertreemenu ul li {
  position: relative;
  list-style-type: none;
  display: inline;
  float: left;
  background-color: #EBF5FF; /*overall menu background color*/
}

/*Top level menu link items style*/
.suckertreemenu ul li a {
  display: block;
  width: 130px; /*Width of top level menu link items*/
  height: 22px;
  padding: 1px 8px;
  border: 1px solid black;
  border-width: 1px 1px 1px 1px;
  font-weight: bold;
  color: black;
}
	
/*1st sub level menu*/
.suckertreemenu ul li ul {
  left: 0;
  position: absolute;
  top: 1em; /* no need to change, as true value set by script */
  display: block;
  visibility:hidden;
  min-width:170px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.suckertreemenu ul li ul li {
  display: list-item;
  float: none;
}

/*All subsequent sub menu levels offset after 1st level sub menu */
.suckertreemenu ul li ul li ul { 
  left: 164px; /* no need to change, as true value set by script */
  top: 0;
}

/* Sub level menu links style */
.suckertreemenu ul li ul li a {
  display: block;
  min-width: 170px; /*width of sub menu levels*/
  color: black;
  text-decoration: none;
  padding: 1px 5px;
  border: 1px solid #ccc;
  white-space:nowrap;
}

.suckertreemenu ul li a:hover {
  background-color: #A3A3A3;
  color: white;
}

/*Background image for top level menu list links */
.suckertreemenu .mainfoldericon {
  background: #EBF5FF url(../images/arrow-down.gif) no-repeat center right;
}

/*Background image for subsequent level menu list links */
.suckertreemenu .subfoldericon {
  background: #EBF5FF url(../images/next.gif) no-repeat center right;
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows suckertree menu, add 1em top spacing between the two in IE*/
  padding-top: 1em;
}
	
/* Holly Hack for IE \*/
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
/* End */