.clean-gray
{
  border:solid 1px #DEDEDE;
  background:#FCF9CE;
  color:#EF000A;
  padding:4px;
  text-align:center;
  width:350px;
  font-size:12px;
}
.linkout {background-color: #fff; } 

.linkover {background-color:#EFEFEF;} 

body{padding:20px; margin:0px; background-color:#EBF5FF; font-family:verdana; font-size:11px; color:#193B57;}

.logobg{background:url(images/logobg.gif) no-repeat; width:180px;}

form{margin:0px; padding:0px;}
input{padding:0px; font-size:11px; color:#193B57; padding:2px;}
textarea{padding:0px; font-size:11px; color:#193B57; padding:2px;}
.button{padding:2px; font-size:11px; color:#193B57; background-color:#BDE0FE; border:1px solid #193B57; font-weight:bold;}

.welcome{color:#7A9CB7;}
.whitebg{background-color:#FFFFFF;}
.bluebg{background-color:#BDE0FE;}
.bluebg1{background-color:#BEE1FF;}
.content{background-color:#FFFFFF; padding:15px; border-left:1px solid #BEE1FF; border-right:1px solid #BEE1FF;}

.link{text-decoration:none; color:#FF5A01; font-weight:bold;}
a.link{text-decoration:none;}
a.link:hover{color:#FF5A01; text-decoration:underline;}

.center{text-decoration:none; color:Brown; font-weight:normal;text-decoration:none;}
font.center:hover{color:Brown; text-decoration:underline;}

.orange{color:#FF5A01; font-weight:bold; font-size:16px;}
#pd{padding:3px 10px 3px 7px;}

#menubg{background:url(images/menubg.gif) repeat-x;}
.menu{color:#193B57; font-size:11px; font-weight:bold; text-align:center;}
.menu a {text-decoration:none; color:#193B57; margin:0px 12px 0px 12px;}
.menu a:hover {text-decoration:underline; color:#FF5A01;}

.table1{background-color:#EAF9FF; padding:4px; font-weight:bold; border:1px solid #BEE1FF; font-size:12px;}
.table2{background-color:#F7F7F7; padding:2px; border:1px solid #F7F7F7; font-size:12px;}

/* additional change by girish - start */
.expire{color:#FF0000 !important;}
.nearbydue{font-weight:bold !important;}
/* additional change by girish - end */