{include file="./headStart.tpl"}
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function(){ 
    $(".add").click(function(){
      $("#one").clone(true).insertAfter("#main");
    });
     $(".subAddMainPara").click(function(){
     $("#two").clone(true).insertAfter($(this));
    });
    $(".subAddPara").click(function(){
      $("#two").clone(true).insertAfter($(this));
    });
  });
</script>
<form name="form1" action="{$smarty.server.PHP_SELF}" id="form1" method="post" ">
{include file="./headEnd.tpl"}
<input type="hidden" name="masterMeterId" value="{$masterMeterId}" />
<table border = "5" align="center" cellpadding="1" cellspacing="1">
<tr>
  <td align="center" class="table1" colspan="4">Master Meter Entry</td>
</tr>
<tr>
  <td align="right" class="table2">Meter Name</td>
  <td><input type="text" name="masterMeterName" id="masterMeterName"></td>
  <td align="right" class="table2">Calibration Expiry Date :</td>
  <td NOWRAP>
    {html_select_date prefix="masterMeterExpDate" start_year="-3" end_year="+1" month_format="%m" field_order="DMY" day_value_format="%02d"}
  </td>
</tr><tr></tr>
</table>
<input type="hidden" name="masterMeterId" value="{$masterMeterId}" />
<table border="5" id="dataTable" align="center" cellpadding="0" cellspacing="0">
<tr id="main">	
  <td>
  	<div id="mainDiv">
	    <div id="one">
        Parameter
          <input type="text" name="parameter[]" class="parameter" />
        Accuracy
          <input type="text" name="accuracy[]" class="accuracy" /> 
          <input type="button" value="Add Param" class="add"/>       
          <input type="button" value=" Add para Sub" class="subAddMainPara" />
      </div>
    </div>
  	<div id="subMainDiv">
	    <div id="two">
        Range
          <input type="text" name="range[]" class="range" />
        Accuracy
          <input type="text" name="accuracySubSb[]" class="accuracySubSub">
        Resolution
          <input type="text" name="resolution[]" class="resolution" >
        Stability
          <input type="text" name="stability[]" class="stability" >
        Uncertinty
          <input type="text" name="uncertinty[]" class="uncertinty">
        certiAccuracy
          <input type="text" name="certiAccuracy[]" class="certiAccuracy">
          <input type="button" value="Add PARA SUB" class="subAddPara"/>
      </div>
    </div>
  </td>
</tr>
</table>
<table border="2" align="center">
  <tr>
    <td><input type="submit" name="insertBtn" value="S  T  O  R  E" class="button" /></td>
  </tr>
</table>
<table align='center' border='0' cellpadding='1' cellspacing='2'>
<center class="center"><h2>Master Metar Available...!</h2></center><br>
<tr>
  <td  class="table1" align='center'>&nbsp;</td>
  <td  class="table1" align='center'>&nbsp;</td>
  <td  class="table1" align='center'>Master Meter</td>
  <td  class="table1" align='center'>Expiry Date</td>
</tr>
{section name="sec" loop=$meterEntry}
<tr>
  <td><a href="#" class="link">Edit</a></td>
  <td><a href="masterMeterDelete.php?masterMeterId={$meterEntry[sec].masterMeterId}"  onclick="return deletechecked();" id="delete" class="link">Delete</a></td>
  <td class="table2" align="center">{$meterEntry[sec].masterMeterName}</td>
  <td class="table2" align="center">{$meterEntry[sec].masterMeterExp}</td>
</tr>
{/section}
</table>
</form>
{include file="footer.tpl"}