{include file="./headStart.tpl"}
<script type="text/javascript">
  $(document).ready(function() {
    $('#userName').focus();
  });
</script>
{include file="./headEnd.tpl"}
<form name="form1" method="POST" action="{$smarty.server.PHP_SELF}">
<table class="table1" width="300" border="0" align="center" cellpadding="0" cellspacing="1">
<tr>
  <td>
    <table class="table2" width="100%" border="0" cellpadding="3" cellspacing="1">
    <tr>
      <td colspan="3"><strong>Member Login </strong></td>
    </tr>
    <tr>
      <td>User Name</td>
      <td>:</td>
      <td>
        <input name="userName" type="text" id="userName"></td>
    </tr>
    <tr>
      <td>password</td>
      <td>:</td>
      <td><input name="password" type="password" id="password"></td>
    </tr>
    <tr>
      <td> </td>
      <td> </td>
      <td><input type="submit" name="Submit" class="button" value=" L O G I N ">
      </td>
    </tr>
    </table>
  </td>
</tr>
</table>
</form>
{include file="./footer.tpl"}
