<html>
<head>
<form action="{$smarty.server.PHP_SELF}" name='grnList' method='POST'>
<table border='1' cellpadding='1' cellspacing='2' align='center'>
<center><a href="grnItemList.php"><h2>G.R.N. Item List</h2></a></center><br>
<!----<tr>
<td class="table1" align="center" colspan="5">
	Select From : {html_select_date prefix="fromDate" start_year="-5" end_year="+2" field_order="DMY" time=$fromDate day_value_format="%02d"}
	To : {html_select_date prefix="toDate" start_year="-2" end_year="+1" field_order="DMY" time=$toDate day_value_format="%02d"}
<input type="submit" name="submitDateBtn" value="GO..." class="button"/>
</td>
</tr>-->
<tr>
  <td class="table1" align="center">GRN NO</td>
  <td class="table1" align="center">Date</td>
  <td class="table1" align="center">Sr.no</td>
  <td class="table1" align="center">Instument Name</td>
  <td class="table1" align="center">Due Date</td>
  <td class="table1" align="center">Dispatched</td>
</tr>
 {assign var="srNo" value="1"}
 {section name="sec" loop=$grnCount}
<tr>
  {if $grnArray[sec].display == 1}
    {assign var="srNo" value="1"}
	  <td class="table2" align="center">{$grnArray[sec].grnPrefix}-{$grnArray[sec].grnNo}</td>
	  <td class="table2" align="center" NOWRAP>{$grnArray[sec].grnDate}</td>
	{else}
	  <td class="table3">&nbsp;</td>
	  <td class="table3">&nbsp;</td>	
	{/if}  
  <td class="table2" align="center">{$srNo++}</td>
	<td class="table2" align="center" NOWRAP>{$grnArray[sec].itemId}</td>
	<td class="table2" align="center" NOWRAP>{$grnArray[sec].grnDueDate}</td>
	<td class="table2" align="center" NOWRAP>{$grnArray[sec].dispatch}</td>
</tr>
{sectionelse}
<tr><td align="center" colspan="22"> <h1><font color="red"><b>Record Not Found...!</b></h1></font></td></tr>
{/section}
</table>
</form>
</head>
</html>