{include file="./headStart.tpl"}
<head>
<script type="text/javascript">
$(document).ready(function() {
    $('#grnPrefix').focus();
  });
function confirmDelete()
{
	var answer = confirm("Delete Selected Recored ?")
	if (answer)
	{
	  document.messages.submit();
	}
	return false;
}
</script>
</head>
{include file="./headEnd.tpl"}
<form name="grnPrefixForm" method="post" action="{$smarty.server.PHP_SELF}" id="grnPrefixForm">
<input type="hidden" name="grnPrefixId" value="{$grnPrefixId}" />
<table border = "1" align="center" cellpadding="1" cellspacing="1">
<tr>
  <td align="center" class="table1" colspan="2">grnPrefix Entry</td>
</tr>
<tr>
  <td><input type="text" name="grnPrefix" id="grnPrefix" value="{$currentgrnPrefix}"  required="required" title="grnPrefix"/></td>
</tr>
<tr>
  <td align="center"><input type="submit" name="insertBtn" value="Store !" class="button" />  <input type="submit" value="CANCEL" name="cancelBtn" class="button" /></td>
</tr>
</table>
</form>
<br /><br />
<table align="center" border="0" cellpadding="1" cellspacing="1">
{section name="sec" loop=$grnPrefixArr}
<tr>
	<td class="table2" align="center">
	  <a href="grnPrefix.php?grnPrefixId={$grnPrefixArr[sec].grnPrefixId}" class="link">Edit</a>
	</td>
	<td class="table2" align="center">
	  <a href="deleteGrnPrefix.php?grnPrefixId={$grnPrefixArr[sec].grnPrefixId}" onclick="return confirmDelete();" id="delete{$grnPrefixArr[sec].grnPrefixId}" class="link">Delete</a>
	</td>
	<td class="table2" align="left">{$grnPrefixArr[sec].grnPrefix}</td>
</tr>
{sectionelse}
<tr>
  <td class="table2" align="center" colspan="3">No Records Found.....!!!!!!!!</td>
</tr>
{/section}
</table>
{include file="footer.tpl"}