<select name="masterMeterSubId" id="masterMeterSubId" onchange="getDateByPara();">
	 <option value="0">Select Parameter</option>
  {html_options values=$masterMeterSubIdArray output=$masterMeterSubParaArray selected=$selectedPara}  
</select>
