<select name="masterMeterSubSubId" id="masterMeterSubSubId">
	 <option value="0">Select Range</option>
  {html_options values=$masterMeterSubSubIdArray output=$masterMeterSubSubParaArray selected=$masterMeterSubSubId}  
</select>
<input type="hidden" name="masterMeterSubSubParaArray" id="masterMeterSubSubParaArray" >
