<table align='center' border='0' cellpadding='1' cellspacing='2'>
{if $recordNotFound == ""}
<center class="center"><h2>Measurement!</h2></center><br>
{else}
<center><h1 style="color:red;">{$recordNotFound}</h1></center><br>
{/if}

  {section name="sec" loop=$stdMeter1}
  <tr>
    <td class="table1" align='center'>Std. Meter Value</td>
    <td class="table2" align="right">{$stdMeter1[sec]}</td>
    <td class="table2" align="right">{$stdMeter2[sec]}</td>
    <td class="table2" align="right">{$stdMeter3[sec]}</td>
    <td class="table2" align="right">{$stdMeter4[sec]}</td>
    <td class="table2" align="right">{$stdMeter5[sec]}</td>
    <td class="table2" align="right">{$stdMeterAverage[sec]}</td>
    <!--td class="table2" align="right"><a href="./uncertaintyBudget.php?grnObservationId={$grnObservationId[sec]}">Uncertainty Budget</a></td>
    <td class="table2" align="right"><a href="./kcallibrationCertificate.php?grnId={$grnId}&grnDetailId={$grnDetailId}">Regular Certificate</a></td-->
    <td class="table2" align="right"><!--a href="./nablCertificate2.php?grnId={$grnId}&grnDetailId={$grnDetailId}">NABL Certificate</a--></td>
    <td class="table2" align="right"><a href="./nablCertificateTable.php?grnId={$grnId}&grnDetailId={$grnDetailId}">NABL Certificate</a></td>
    <td class="table2" align="right"><input type="button" value="DELETE" onclick="deleteObs({$grnObservationId[sec]});" /></td>
    <td class="table2" align="right"><a href="./observationSheetEdit.php?grnObservationId={$grnObservationId[sec]}&grnObsMasterId={$grnObsMasterId[sec]}">Edit</a></td>
    <!--a href="./nablCertificate2.php?grnId={$grnId}&grnDetailId={$grnDetailId}">Delete</a-->
    <!--td class="table2" align="right"><a href="./observationSheetRegular.php?grnDetailPassId={$grnDetailId}">Test More Parameter</a></td>
    <td class="table2" align="right"><a href="./observationSheet.php?grnDetailPassId={$grnDetailId}">Test More Parameter For Nabl</a></td-->
    
  </tr>
  <tr>
    <td  class="table1" align='center'>Test Meter Value</td>
    <td class="table2" align="right">{$testMeter1[sec]}</td>
    <td class="table2" align="right">{$testMeter2[sec]}</td>
    <td class="table2" align="right">{$testMeter3[sec]}</td>
    <td class="table2" align="right">{$testMeter4[sec]}</td>
    <td class="table2" align="right">{$testMeter5[sec]}</td>
    <td class="table2" align="right">{$testMeterAverage[sec]}</td>
  </tr><tr></tr><tr></tr><tr></tr>
  
  {/section}
</table>