<input type="hidden" name="custCodeHidden" id="custCodeHidden" value="{$custCode}">
<select name="grnDetailId" id="grnDetailId">
  <option>Select Instrument</option>
    {html_options values=$grnDetailId output=$grnDetailOutput}
</select>
