<input type="hidden" name="custCodeHidden" id="custCodeHidden" value="{$custCode}">
<input type="hidden" name="grnDetailId" value="{$grnDetailIdSelected}">
<select name="grnDetailId" id="grnDetailId" DISABLED >
  <option>Select Instrument</option>
    {html_options values=$grnDetailId output=$grnDetailOutput selected=$grnDetailIdSelected}
</select>
