{include file="./headStart.tpl"}
<script type="text/javascript">
$(document).ready(function() {
    $('#parameterName').focus();
});

function confirmDelete()
{
	var answer = confirm("Delete Selected Recored ?")
	if (answer)
	{
	  document.messages.submit();
	}
	return false;
}
</script>
{include file="./headEnd.tpl"}
<form name="parameterForm" method="post" action="{$smarty.server.PHP_SELF}" id="parameterForm">
<input type="hidden" name="parameterId" value="{$parameterId}" />
<table border="1" align="center" cellpadding="1" cellspacing="1">
<tr>
  <td align="center" class="table1" colspan="2">Parameter Entry</td>
</tr>
<tr>
  <td><input type="text" name="parameterName" id="parameterName" value="{$currentparameterName}"  required="required" title="ParameterName" /></td>
</tr>
<tr>
  <td align="center"><input type="submit" name="insertBtn" value="Store !" class="button" /> <input type="submit" value="CANCEL" name="cancelBtn" class="button" /></td>
</tr>
</table>
</form>
<br /><br />
<table align="center" border="0" cellpadding="1" cellspacing="1">
{section name="sec" loop=$parameterArr}
<tr>
	<td class="table2" align="center">
	  <a href="parameterEntry.php?parameterId={$parameterArr[sec].parameterId}" class="link">Edit</a>
	</td>
	<td class="table2" align="center">
	  <a href="deleteParameter.php?parameterId={$parameterArr[sec].parameterId}" onclick="return confirmDelete();" id="delete{$parameterArr[sec].parameterId}" class="link">Delete</a>
	</td>
	<td class="table2" align="left">{$parameterArr[sec].parameterName}</td>
</tr>
{sectionelse}
<tr>
  <td class="table2" align="center" colspan="3">No Records Found.....!!!!!!!!</td>
</tr>
{/section}
</table>
{include file="footer.tpl"}