{include file="./headStart.tpl"}
<head>
<script type="text/javascript">
$(document).ready(function() {
  $('#itemName').focus();
});

function confirmDelete()
{
	var answer = confirm("Delete Selected Recored ?")
	if(answer)
	  document.messages.submit();

	return false;
}
</script>
</head>
{include file="./headEnd.tpl"}

<table align="center" border="0" cellpadding="1" cellspacing="1">
<tr>
  <td class="table1" align="center">Symbol</td>
  <td class="table1" align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td class="table1" align="center">Symbol</td>
</tr>
{section name="sec" loop=$symbolArr}
<tr>
	<td class="table2" align="center">{$symbolArr[sec].symbol}</td>
	<td class="table2" align="left">&nbsp;</td>
	<td class="table2" align="left">{$symbolArr[sec].htmlCode}</td>
</tr>
{sectionelse}
<tr>
  <td class="table2" align="center" colspan="3">No Records Found.....!!!!!!!!</td>
</tr>
{/section}
</table>
{include file="footer.tpl"}